**/WindowBase
**/.vs
**/Bin
**/GeneratedFiles
**/ThirdParty
**/out

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc

# CLion
/.idea
*.clang-format
/install

#/CMakeLists.txt
#/CMakePresets.json
#/CMakeUserPresets.json
#/NexUs/CMakeLists.txt
#/NexUs/NexUsConfig.cmake.in
#/NexUsExample/CMakeLists.txt
#/NXPacketIO/CMakeLists.txt
#/NXPacketIO/NXPacketIoConfig.cmake.in

#/Dependencies.lua
#/premake5.lua
#/NexUs/premake5.lua
#/NexUsExample/premake5.lua
#/NXPacketIO/premake5.lua

#/NexUs.sln
#/NexUs/NexUs.vcxproj
#/NexUs/NexUs.vcxproj.filters
#/NexUs/NexUs.vcxproj.user
#/NexUsExample/NexUsExample.vcxproj
#/NexUsExample/NexUsExample.vcxproj.filters
#/NexUsExample/NexUsExample.vcxproj.user
#/NXPacketIO/NXPacketIO.vcxproj
#/NXPacketIO/NXPacketIO.vcxproj.filters
#/NXPacketIO/NXPacketIO.vcxproj.user

#!/Build/
